DB_URL="postgresql+asyncpg://case_study:case_study@127.0.0.1:55432/case_study"

OPENAI_API_KEY="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"
